body {
    font-family: sans-serif;
}
header {
    border: 4px solid blue;
    border-radius: 10px;
    padding: 2px;
    padding-bottom: 5px;
}
header b {
    color: navy;
}
header a {
    background-color: darkblue;
    color: white;
    border: 0px solid darkblue;
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
}
h1 {
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color: lightblue;
    text-align: center;
    color: navy;
    font-weight: 100;
}
footer {
    background-color: burlywood;
    padding: 1px;
    padding-left: 8px;
}
footer p {
    background-color: white;
    padding: 4px;
    padding-left: 10px;
}
.contacts {
    padding-left: 40px;
}
nav {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 5px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 40px;
}
select {
    color: blue;
    padding: 3px;
    border: 2px solid navy;
    border-radius: 5px;
}
select option {
    background-color: darkblue;
    color: white;
}
.production {
    background-color: indianred;
    border: 1px solid indianred;
    border-radius: 15px;
    padding: 5px;
    color: white;
}
h2 {
    color: blue;
}
.image {
    border: 1px solid lightblue;
    border-radius: 30px;
}
.button {
    border: 2px solid navy;
    color: navy;
    padding: 5px;
    text-decoration: none;
}
